/**
 * CSS: Basics
 * https://developer.mozilla.org/en-US/docs/Web/CSS
 *
 */

html{
  // declare variables
  --bg-color: lightblue;
  --font-size: 7.2em;
  --font-weight: 550;
  --font-width: 75;
}

body {
    margin: 25px auto;
    width: 70%;
    font-size: 1.2em;
    font-family: IBMPlexMono-Light;
     background-color: var(--bg-color); // use that variable
}

h1 {
    font-size: 3em;
    font-family: IBMPlexMono-Bold;
}

.info {
    font-size: 0.8em;
    font-family: IBMPlexMono-LightItalic;
}

.textElement {
  width: 940px;
  height: 175px;
  margin-top: 25px;
  margin-left: 25px;
  background-color: var(--footer-color);
  border-radius: 5px;
  font-size: var(--font-size);
  font-family: LeagueMonoVariable;
  font-family: "LeagueMonoVariable"; font-variation-settings: "wght" var(--font-weight), "wdth" var(--font-width);
  color: blue;

}

#overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  -ms-filter : fliph; /*IE*/
  filter : fliph; /*IE*/


}

#videoel {
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  -ms-filter : fliph; /*IE*/
  filter : fliph; /*IE*/
}

#container {
  width : 400px;
}

#content {
  position: absolute;
  margin: 25px auto;
  width: 70%;
}

h2 {
  font-weight : 400;
}

.btn {
  font-family: 'IBMPlexMono-Light';
  font-size: 12px;
}

#controls {
  position: absolute;
  font-family: 'IBMPlexMono-Light';
  text-align : center;
}

#emotion_container {
  font-family: 'IBMPlexMono-Light';
  font-size: 0.7em;
  width: 600px;
}

#emotion_icons {
  height: 50px;
}

.emotion_icon {
  width : 40px;
  height : 40px;
  margin-top: 5px;
  /*margin-left : 13px;*/
  /*margin-left : 35px;*/
}

#emotion_chart, #emotion_icons {
  /*margin: 0 auto;*/
  width : 400px;
}

#icon1, #icon2, #icon3, #icon4, #icon5, #icon6 {
  visibility : hidden;
}

/* d3 */
.bar {
  fill : steelblue;
  fill-opacity : .9;
}

@font-face {
    font-family: 'IBMPlexMono-Bold';
    src:url('../font/IBMPlexMono-Bold.ttf') format('truetype');
    text-rendering: optimizeLegibility;

    font-family: 'IBMPlexMono-Light';
    src:url('../font/IBMPlexMono-Light.ttf') format('truetype');
    text-rendering: optimizeLegibility;

    font-family: 'IBMPlexMono-LightItalic';
    src:url('../font/IBMPlexMono-LightItalic.ttf') format('truetype');
    text-rendering: optimizeLegibility;

    font-family: 'LeagueMonoVariable';
    src:url('../font/LeagueMonoVariable.ttf') format('truetype-variations');
    text-rendering: optimizeLegibility;

}
